@import url(https://fonts.bunny.net/css?family=open-sans:500,700);

:root {
  --background: #fff;
  --text-color: #222;
  --pink: #ff2683;
  --medium-pink: #e01f73;
  --deep-pink: #810038;
  --separator-grey: #aaa;
  --lightest-grey: #cfcfcf;
  --light-grey: #777;
  --medium-grey: #555;
}

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6rem;
  background: var(--background);
  color: var(--text-color);
  padding: 6rem 10px;
  margin: 0;
}

hr {
  border: none;
  background: none;
  text-align: center;
}

hr:before {
  content: "• • •";
  color: var(--separator-grey);
}

address {
  font-style: normal;
}

p {
  margin: 16px 0;
}

.button {
  box-sizing: border-box;
  appearance: button;
  text-transform: none;
  line-height: 1.15;
  color: white;
  background-color: var(--pink);
  border: 1px solid var(--pink);
  border-radius: 6px;
  height: 44px;
  margin: 16px 16px 0 0;
  position: relative;
  transition: background-color 0.1s ease-in, border-color 0.1s ease-in;
  width: 100%;
  font-size: 16px;
  padding: 12px 24px;
}

.button:active {
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

.button:hover {
  background-color: var(--medium-pink);
  border-color: var(--medium-pink);
}

.button::before {
  content: "";
  opacity: 0;
  position: absolute;
  transition: opacity 0.2s ease-in;
}

.button:focus::before {
  background-color: transparent;
  border-radius: 10px;
  bottom: 0;
  box-shadow: 0 0 0 0.2rem var(--pink);
  left: 0;
  margin: -4px;
  opacity: 1;
  right: 0;
  top: 0;
}

.button.secondary {
  background-color: var(--light-grey);
  border-color: var(--light-grey);
}

.button.secondary:hover {
  background-color: var(--medium-grey);
  border-color: var(--medium-grey);
}

.button.secondary:focus::before {
  box-shadow: 0 0 0 0.2rem var(--light-grey);
}

a.button {
  display: inline-block;
  text-decoration: none;
  width: auto;
}

/*
#development-notice {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 3.6rem 1rem 1rem;
  text-align: center;
  background: plum;
  font-weight: bold;
}
*/

main,
section,
footer {
  margin: 2rem auto 0;
  max-width: 80%;
}

main a {
  color: var(--pink);
}

main a:hover,
main a:focus,
main a:active {
  color: var(--deep-pink);
}

main {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

main h1 {
  line-height: 1.4em;
}

p.small {
  max-width: 680px;
  font-style: italic;
  font-size: 0.8em;
  color: var(--medium-grey);
}

nav {
  position: absolute;
  top: 0;
  right: 2.5rem;
}

nav > a {
  display: inline-block;
  padding: 1em;
  border-radius: 0 0 1em 1em;
  margin: 0 0.5em;
  border: 0px 1px 1px 1px solid hsla(0, 0%, 100%, 0.1);
  background: rgba(26, 26, 26, 0.05);
  color: var(--text-color);
}

#manage-payments:hover,
#manage-payments:focus {
  background: var(--pink);
  color: var(--background);
}

#ko-fi:hover,
#ko-fi:focus {
  background: #ff5f5f;
  color: #fff;
}

#github-sponsors:hover,
#github-sponsors:focus {
  background: #222;
  color: #fff;
}

section {
  min-height: fit-content;
  transition: height 2s ease-in-out;
}

section > h2:first-child {
  margin-top: 0;
}

#one-time-support {
  min-height: fit-content;
  text-align: center;
}

#services {
  display: grid;
  column-gap: 50px;
  grid-auto-columns: 50%;
  grid-auto-flow: column;
  margin: 2rem auto 2rem;
  max-width: 70%;
}

#supporters-list {
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}

#supporters-list h2 {
  text-align: center;
}

#supporters-list ul {
  list-style-type: none;
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  min-width: 600px;
  text-align: center;
  margin: 0 0 16px;
  padding: 0px;
}

#supports-list ul li {
  display: inline-block;
}

#supporters-list a {
  color: var(--pink);
}

#supporters-list a:hover,
#supporters-list a:focus {
  color: var(--medium-pink);
}

footer {
  text-align: center;
  max-width: 50vw;
}

footer hr {
  visibility: hidden;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 0 24px;
}

footer ul li a {
  padding: 0.2rem;
  margin: 0.5rem;
  display: inline-block;
}

footer ul li a {
  color: var(--light-grey);
}

footer ul li a:hover,
footer ul li a:focus {
  color: var(--pink);
}

@media screen and (max-width: 1024px) {
  main,
  section,
  footer {
    max-width: 100%;
  }

  #supporters-list ul {
    min-width: auto;
    columns: 1;
    -moz-columns: 1;
    -webkit-columns: 1;
  }

  #supporters-list ul li {
    display: inline-block;
    margin: 5px 20px;
  }

  nav {
    left: 0;
    right: 0;
    font-size: 0.8rem;
    display: flex;
  }
  nav > a {
    margin: 0;
    flex-grow: 1;
    border-radius: 0;
    text-align: center;
  }

  #manage-payments {
    background: var(--pink);
    color: var(--background);
  }

  #ko-fi {
    background: #ff5f5f;
    color: #fff;
  }

  #github-sponsors {
    background: #222;
    color: #fff;
  }

  main h1 {
    font-size: 1.6rem;
  }

  main,
  #one-time-support {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  #one-time-support br {
    display: none;
  }

  #services {
    display: block;
  }

  #services .service {
    margin-bottom: 48px;
  }
}
