@import url(https://fonts.bunny.net/css?family=open-sans:500,700);

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6rem;
  background: white;
  color: #222;
  padding: 6rem 10px;
  margin: 0;
}

hr {
  border: none;
  background: none;
  text-align: center;
}

hr:before {
  content: "• • •";
  color: #aaa;
}

address {
  font-style: normal;
}

#development-notice {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 3.6rem 1rem 1rem;
  text-align: center;
  background: plum;
  font-weight: bold;
}

main, section, footer {
  margin: 2rem auto 0;
  max-width: 80%;
}

main a {
  color: rgb(255, 38, 131);
}

main a:hover,
main a:focus,
main a:active {
  color: rgb(129, 0, 56);
}

main {
  text-align: center;
}

main h1 {
  line-height: 1.4em;
}

nav {
  position: absolute;
  top: 0;
  right: 2.5rem;
}

nav > a {
  display: inline-block;
  padding: 1em;
  border-radius: 0 0 1em 1em;
  margin: 0 0.5em;
  border: 0px 1px 1px 1px solid hsla(0,0%,100%,0.1);
  background: rgba(26, 26, 26, 0.05);
  color: #222;
}

#manage-payments:hover,
#manage-payments:focus {
  background:rgb(255, 38, 131);
  color: white;
}

#ko-fi:hover,
#ko-fi:focus {
  background: #ff5f5f;
  color: #fff;
}

#github-sponsors:hover,
#github-sponsors:focus {
  background: #222;
  color: #fff;
}

section {
  min-height: 300px;
  transition: height 2s ease-in-out;
}

#one-time-support {
  min-height: 365px;
  text-align: center;
}

footer {
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: block;
}

footer ul li a {
  padding: 0.2rem;
  margin: 0.5rem;
  display: inline-block;
}

footer ul li a {
  color: #666;
}

footer ul li a:hover,
footer ul li a:focus {
  color: rgb(255, 38, 131);
}


@media screen and (max-width: 1024px) {
  main, section, footer {
    max-width: 100%;
  }

  nav {
    left: 0;
    right: 0;
    font-size: 0.8rem;
    display: flex;
  }
  nav > a {
    margin: 0;
    flex-grow: 1;
    border-radius: 0;
    text-align: center;
  }

  #manage-payments {
    background:rgb(255, 38, 131);
    color: white;
  }

  #ko-fi {
    background: #ff5f5f;
    color: #fff;
  }

  #github-sponsors {
    background: #222;
    color: #fff;
  }

  section {
    min-height: 1070px;
  }

  #one-time-support {
    min-height: 430px;
  }

  main h1 {
    font-size: 1.6rem;
  }

  main,
  #one-time-support {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  #one-time-support br {
    display: none;
  }
}